body {
    font-family: 'Roboto-Regular';
    color: #59595c;
}

h1,h2,h3,h4 {
  color: #59595c;
}

.desc-head {
    font-family: 'Montserrat-Bold';
}

.desc-body {
    font-family: 'Montserrat-Light';
}

.text-left {
  text-align: left;
}

.laravel-list {
  margin-left: -11%;
}

li.list-feature {
    font-family: 'Montserrat-Light';
    font-size: 16px;
}

.fa-check-circle {
    color: #18c05e;
}

#footer, .head-content, .top-menu, .main-menu, .discount-offer {
    padding-left: 80px;
    padding-right: 80px;
}

.top-menu, .main-menu, .head-content {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #59595c;
}

#footer {
    background-color: #303030;
    color: #bdbdbd;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-copy {
    font-family: 'Roboto-Regular';
    font-size: small;
}

.privacy_link {
    color: #bdbdbd;
    text-decoration: none;
}

.privacy_link:hover {
    color: #ffffff;
    text-shadow: 2px 2px 5px;
}

.close-btn-simple, .btn-menu {
    cursor: pointer;
}

.close-btn-simple:hover {
    color: #ff0000;
}

.btn-menu:hover {
    color: #0051ff;
}

.menu-right span.btn-menu {
    margin-left: 10px;
}

.right {
    text-align: end;
}

.main-menu-bar span.btn-menu {
    line-height: 60px;
    margin-left: 30px;
}

.feature-installer {
    text-align: center;
}

.zendguard {
    text-align: end;
}

.ioncube {
    text-align: start;
}

.zendguard embed{
    margin-top: 119px;
}

.ioncube embed{
    margin-top: 112px;
}

.center {
    text-align: center;
}

.mid-offer-top {
    font-family: 'Montserrat-bold';
}

.mid-offer-bottom {
    font-family: 'Montserrat-Light';
}

.discount-offer {
    padding: 50px;
}

.basic-line {
  margin-top: 7rem!important;
  margin-bottom: 50px;
}

.feature-installer {
  margin-right: -12px;
}

/* --- Pricing Plans --- */

.pricing-plans {
    /* padding: 30px; */
    width: 100%;
  }
  
  .pricing-tables {
    display: flex;
    flex-flow: column;
    padding-top: 1em;
  }
  
  .pricing-plan {
    /* background-color: #f6f6f6; */
    border: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
    display: block;
    /* padding: 2em 0; */
    padding-bottom: 2em;
    text-align: center;
    width: 100%;
  }

  div.plan-cost.first-major {
    background-color: #0051ff;
    color: white;
  }
  
  /* .pricing-plan:first-child, .pricing-plan:last-child {
    background-color: #EEE;
  } */
  
  .pricing-plan:first-child {
    border-bottom: 0;
  }
  
  .pricing-plan:last-child {
    border-top: 0;
  }
  
  .pricing-plan:nth-child(2) {
    border-bottom: 0;
  }
  
  .no-flexbox .pricing-plan {
    float: left;
  }
  
  .plan-title {
    border-bottom: 1px solid #DDD;
    font-family: 'Montserrat-bold';
    background-color: white;
    font-size: 24px;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 10px;
    /* text-transform: uppercase; */
  }

  .featured-plan .plan-title{
    border-bottom: none;
  }

  .diskon-price {
    padding: 5px;
  }

  .line {
    border-bottom: 1px solid #DDD;
  }
  
  .plan-cost {
    background-color: white;
    color: #59595c;
    font-size: 1.25em;
    font-weight: 700;
    /* padding: 1.25em 1em; */
    /* text-transform: uppercase; */
  }
  
  .plan-cost span {
    display: none;
  }

  .upperchase {
      text-transform: uppercase;
  }
  
  .plan-price {
    font-family: "Montserrat-Bold";
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 0;
  }
  
  .plan-type {
    border: 0.313em solid #DDD;
    color: #999;
    display: inline-block;
    font-size: 0.75em;
    margin: 0.75em 0 0 0.75em;
    padding: 0.3em 0.4em 0.25em;
    width: auto;
  }
  
  .plan-features {
    margin: 0;
    /* padding: 2em 1em 1em; */
    margin-bottom: 20px;
  }

  ul.plan-features {
      padding-left: 0;
  }
  
  .plan-features li {
    list-style-type: none;
    /* border-bottom: 1px solid #DDD; */
    margin-bottom: 0.5em;
    /* padding-bottom: 0.75em; */
    color: #555;
    display: block;
    /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: .9em;
    font-weight: 2px;
    line-height: 1.3;
  /* //   &:before {
  //     content: "✔";
  //     margin-right: 7px;
      
  //   }
    span {
      color: #BBB;
    } */
  }
  
  .plan-features li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .plan-features li:first-child {
    padding-top: 10px;
    border-bottom: 1px solid #DDD;
  }

  li.featured {
    background-color: #0051ff;
  }
  
  .plan-features i {
    font-size: 1.5em;
  }
  
  .plan-features i.icon-ok-squared {
    color: #3aa14d;
  }
  
  .plan-features i.icon-cancel-circled {
    color: darkRed;
  }
  
  .btn-plan {
    padding: 10px;
    border: #59595c 2px solid;
    border-radius: 50px;
    text-decoration-line: none;
    font-family: "Montserrat-Bold";
    max-width: 12em;
    color: #59595c;
  }

  .btn-plan:hover {
    color: #59595c;
  }
  
  .cta {
    background-color: #008fee;
    color: white;
    border-color: #008fee;
  }

  .col-md-12.cs {
    padding: 35px;
    background-color: #008fee;
    margin-top:20px;
  }

  .col-md-12.cs h2, .col-md-12.cs a{
    color: white;
  }

  .stared {
    color: #008fee;
  }

  /* label.newsletter {
    padding: 15px;
    background-color: white;
    padding-left: 150px;
    border-radius: 30px;
  } */

  input#email-newsletter.form-control {
    width: 300px;
    height: 50px;
    padding-right: 50px;
    border-radius: 50px;
  }
  

  /* .btn-newsletter {
      margin-left: -50px;
      height: 20px;
      width: 50px;
  } */
  
  div.col-sm-4.socmed {
    border-radius: 50%;
    width: 50px;
    padding: 15px;
    border: white 1px solid;
    margin-left: 20px;
  }

  .featured-plan {
    background-color: white;
    border: 1.5px solid #008fee;
    /* border-right: 0 solid transparent;
    border-left: 0 solid transparent; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    /* //order: -1; */
    position: relative;
    transition: transform 400ms ease;
  }
  
  .featured-plan .plan-title, .featured-plan .actual-price, .featured-plan div.plan-cost.major {
      background-color: #008fee;
      color: white;
  }

  .btn-plan .live-chat {
    padding: 20px;
  }
  
  .featured-ribbon {
    padding: 7px;
    font-size: 0.7em;
    width: 200px;
    background: #00b359;
    position: absolute;
    top: 15px;
    left: -60px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0.01em;
    font-size: 0.65em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* Custom styles */
    /* Different positions */
  }
  
  .featured-ribbon.sticky {
    position: fixed;
  }
  
  .featured-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .featured-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .featured-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .featured-ribbon.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .featured-ribbon.bottom-right {
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .actual-price {
      background-color: white;
  }
  
  @media (min-width: 400px) {
    .pricing-plans {    
      padding-right: 2em;
      padding-left: 2em;
      width: 100%;
    }
  
    .featured-plan {
      transform: scale(1.05);
    }
  }
  
  @media (min-width: 33.75em) {
    .pricing-plans .module-title {
      margin-bottom: 1em;
    }
  
    .pricing-tables {
      flex-flow: row wrap;
    }
  
    .pricing-plan {
      flex-grow: 1;
      width: 50%;
    }
  
    .pricing-plan:first-child {
      border-right: 0;
      border-bottom: 0;
    }
    
    .featured-plan {
      margin-top: 0.6em;
      order: 0;
    }
    
    .pricing-plan:nth-child(3) {
  
    }
  
    .pricing-plan:last-child {
      border-top: 2px solid #DDD;
      border-left: 0;
    }
    
    .no-flexbox .pricing-plan {
      width: 48%;
    }
  
    .plan-title {
      /* font-size: 0.875em; */
    }
  }
  
  @media (min-width: 48em) {
    .no-flexbox .pricing-plan {
      width: 24%;
    }
  
    .plan-type {
      font-size: 0.7em;
      margin: 0.5em 0 0 1em;
      padding-bottom: 0.2em;
    }
  
    .featured-ribbon {
      font-size: 0.65em;
    }
  }
  
  @media (min-width: 62em) {
    .pricing-tables {
      padding-top: 3em;
    }
  
    .pricing-plan {
      flex-grow: 1;
      width: 25%;
    }
    
    .featured-plan {
      margin-top: 0;
      order: 0;
    }
  
    .pricing-plan:first-child, .pricing-plan:nth-child(2n) {
      border-bottom: 2px solid #DDD;
    }
  
    .pricing-plan .plan-features span {
      display: block !important;
    }
  
    .plan-cost {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      font-size: 1em;
    }
  
    .plan-cost span {
      color: #BBB;
      font-size: 1.5em;
      font-weight: 400;
      padding-right: 0.15em;
      padding-left: 0.15em;
    }
  
    .plan-price {
      font-size: 3.25em;
    }
  
    .btn-plan {
      font-size: 1em;
    }
  
    .featured-ribbon {
      font-size: 0.7em;
      left: -68px;
      line-height: 25px;
    }
  }
  
  @media (min-width: 75em) {
    .plan-cost {
      font-size: 1em;
    }
  }
  
  @media (min-width: 100em) {
    .pricing-tables {
      margin: 0 auto;
      max-width: 75.00em;
    }
  }