<div class="feature-installer">
    <div class="row">
        <div class="thumbnail zendguard col-md-4">
            <embed src="assets/svg/illustration-banner-PHP-zenguard01.svg" alt="zen guard">
            <div class="caption">
                <p>PHP Zend Guard Loader</p>
            </div>
        </div>
        <div class="thumbnail col-md-4">
            <embed src="assets/svg/icon-composer.svg" alt="composer">
            <div class="caption">
                <p>PHP Composer</p>
            </div>
        </div>
        <div class="thumbnail ioncube col-md-4">
            <embed src="assets/svg/icon-php-hosting-ioncube.svg">
            <div class="caption">
                <p>PHP ioN Cube Loader</p>
            </div>
        </div>
        <div class="col-md-12 discount-offer">
            <h3 class="mid-offer-top text-center">Paket Hosting Singapura yang Tepat</h3>
            <h3 class="mid-offer-bottom text-center">Diskon 40%+ Domain dan SSL gratis unruk anda</h3>
        </div>
        <div class="col-md-12">
            <!-- PRICING PLANS -->
            <section class="pricing-plans">
                <!-- Pricing Tables -->
                <div class="pricing-tables">
                    <!-- Plan Features -->
                    <!-- Bayi -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Bayi</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;19.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">14</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>938&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>0.5X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>500 MB&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>1&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Pelajar -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Pelajar</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;46.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">23</p><p>.450</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>4.168&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>1X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>10&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Instant&nbsp;</p><p class="Roboto-Thin">Backup</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Personal -->
                    <div class="pricing-plan featured-plan">
                        <div class="featured-ribbon">BEST SELLER!</div>
                        <h2 class="plan-title">Personal</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;58.900</del>
                        </div>
                        <div class="plan-cost major">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">38</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <ul class="plan-features">
                            <li class="featured"><div class="plan-cost first-major"><p>10.017&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>2X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Instant&nbsp;</p><p class="Roboto-Thin">Backup</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Private&nbsp;</p><p class="Roboto-Thin">Name Server</p></div></li>
                            <li><div class="plan-cost"><p>SpamAssassin&nbsp;</p><p class="Roboto-Thin">Mail Protection</p></div></li>
                        </ul>
                        <a class="btn-plan cta" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Bisnis -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Bisnis</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;109.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">65</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>3.552&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>3X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Magic Auto&nbsp;</p><p class="Roboto-Thin">Backup & Restore</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Private&nbsp;</p><p class="Roboto-Thin">Name Server</p></div></li>
                            <li><div class="plan-cost"><p>Prioritas&nbsp;</p><p class="Roboto-Thin">Layanan Support</p></div></li>
                            <li><div class="plan-cost"><p class="Roboto-Thin stared"><i class="fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i></p></div></li>
                            <li><div class="plan-cost"><p>SpamExpert&nbsp;</p><p class="Roboto-Thin">Pro Mail Protection</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Diskon 40%</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 basic-line">
            <h3 class="mid-offer-bottom text-center">Powerful dengan Limit PHP yang Lebih Besar</h3>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">excecution time 300s</td>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">post max size 128 MB</td>
                            </tr>
                            <tr>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">max excecution time 300s</td>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">upload max filesize 128 MB</td>
                            </tr>
                            <tr>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">php memory limit 1024 MB</td>
                                <td><span><i class="fa fa-check-circle"></i></span></td>
                                <td class="text-center">max input vars 2500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 basic-line">
            <h3 class="mid-offer-bottom text-center">Semua Paket Hosting Sudah Termasuk</h3>
        </div>
            <div class="row justify-content-center">
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_PHP Semua Versi.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">PHP Semua Versi</h3>
                        <p class="Roboto-Regular">Pilih mulai dari versi PHP 5.3 s/d PHP 7 <br> Ubah sesuka anda!</p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_My SQL.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">MySQL Versi 5.6</h3>
                        <p class="Roboto-Regular">NikmatiMySQL versi terbaru, tercepat dan <br> kaya akan fitur.</p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_CPanel.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">Panel Hosting cPanel</h3>
                        <p class="Roboto-Regular">Kelola Website dengan panel canggih yang <br> familiar di hati Anda.</p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_garansi uptime.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">Garansi Uptime 99.9%</h3>
                        <p class="Roboto-Regular">Data center yang mendukung kelangsungan <br> website Anda 24/7.</p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_InnoDB.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">Database InnoDB Unlimited</h3>
                        <p class="Roboto-Regular">Jumlah dan ukuran database yang tumbuh <br> sesuai kebutuhan Anda.</p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <embed src="assets/svg/icon PHP Hosting_My SQL remote.svg" width="100px" height="auto" alt="php-semua-versi">
                    <div class="caption">
                        <h3 class="Montserrat-Bold">Wildcard Remote MySQL</h3>
                        <p class="Roboto-Regular">Mendukung s/d 25 max_user_connections <br> dan 100 max_user_connections.</p>
                    </div>
                </div>
            </div>
        
        <div class="col-md-12 basic-line">
            <h3 class="mid-offer-bottom text-center">Mendukung Penuh Framework Laravel</h3>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-left">
                <p class="Montserrat-Light">
                    Tak perlu menggunakan dedicated server atau VPS
                    <br>
                    yang mahal. Layanan PHP hosting murah kami
                    <br>
                    mendukung penuh framework favorit Anda
                </p>
                <p>
                    <ul class="fa-ul">
                        <li class="list-feature"><span class="laravel-list"><i class="fa-solid fa fa-check-circle"></i>&nbsp;</span>Install Laravel <b>1 klik</b> dengan Softaculous Installer.</li>
                        <li class="list-feature"><span class="laravel-list"><i class="fa-solid fa fa-check-circle"></i>&nbsp;</span>Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json,</b> dan <b> fileinfo</b></li>
                        <li class="list-feature"><span class="laravel-list"><i class="fa-solid fa fa-check-circle"></i>&nbsp;</span>Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstall packages pilihan Anda</li>
                    </ul>
                </p>
                <a class="btn-plan cta" href="">Pilih Hosting Anda</a>
            </div>
            <div class="col-md-6">
                <embed src="assets/svg/illustration banner support laravel hosting.svg" width="400px" height="auto" alt="php-semua-versi">
            </div>
        </div>
        <div class="col-md-12 basic-line">
            <h3 class="mid-offer-bottom text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-1 modul"></div>
            <div class="col-md-2 modul">
                <p>
                    <ul class="fa-ul">
                        <li class="list-feature text-left">IcePHP</li>
                        <li class="list-feature text-left">apc</li>
                        <li class="list-feature text-left">apcu</li>
                        <li class="list-feature text-left">apm</li>
                        <li class="list-feature text-left">ares</li>
                        <li class="list-feature text-left">bcmath</li>
                        <li class="list-feature text-left">bcompiler</li>
                        <li class="list-feature text-left">b_int</li>
                        <li class="list-feature text-left">bitset</li>
                        <li class="list-feature text-left">boomy</li>
                        <li class="list-feature text-left">bz2filter</li>
                        <li class="list-feature text-left">clamav</li>
                        <li class="list-feature text-left">coin_acceptor</li>
                        <li class="list-feature text-left">crack</li>
                        <li class="list-feature text-left">dba</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <ul class="fa-ul">
                        <li class="list-feature text-left">http</li>
                        <li class="list-feature text-left">huffman</li>
                        <li class="list-feature text-left">idn</li>
                        <li class="list-feature text-left">igbinary</li>
                        <li class="list-feature text-left">imagick</li>
                        <li class="list-feature text-left">imap</li>
                        <li class="list-feature text-left">inclued</li>
                        <li class="list-feature text-left">inotify</li>
                        <li class="list-feature text-left">interbase</li>
                        <li class="list-feature text-left">intl</li>
                        <li class="list-feature text-left">ioncube_loader</li>
                        <li class="list-feature text-left">ioncube_loader_4</li>
                        <li class="list-feature text-left">jsmin</li>
                        <li class="list-feature text-left">json</li>
                        <li class="list-feature text-left">ldap</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <ul class="fa-ul">
                        <li class="list-feature text-left">nd_pd_mysql</li>
                        <li class="list-feature text-left">oauth</li>
                        <li class="list-feature text-left">oci8</li>
                        <li class="list-feature text-left">odbc</li>
                        <li class="list-feature text-left">opcache</li>
                        <li class="list-feature text-left">pdf</li>
                        <li class="list-feature text-left">pdo</li>
                        <li class="list-feature text-left">pdo_blib</li>
                        <li class="list-feature text-left">po_firebird</li>
                        <li class="list-feature text-left">pdo_mysql</li>
                        <li class="list-feature text-left">pdo_odbc</li>
                        <li class="list-feature text-left">pdo_pgsql</li>
                        <li class="list-feature text-left">sqlite</li>
                        <li class="list-feature text-left">pgsql</li>
                        <li class="list-feature text-left">phalcon</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <ul class="fa-ul">
                        <li class="list-feature text-left">stats</li>
                        <li class="list-feature text-left">stem</li>
                        <li class="list-feature text-left">stomp</li>
                        <li class="list-feature text-left">suhosin</li>
                        <li class="list-feature text-left">cybase_ct</li>
                        <li class="list-feature text-left">sysvmsg</li>
                        <li class="list-feature text-left">sysvsem</li>
                        <li class="list-feature text-left">sysvshm</li>
                        <li class="list-feature text-left">tidy</li>
                        <li class="list-feature text-left">timezonedb</li>
                        <li class="list-feature text-left">trader</li>
                        <li class="list-feature text-left">translit</li>
                        <li class="list-feature text-left">sqlite</li>
                        <li class="list-feature text-left">uploadprogress</li>
                        <li class="list-feature text-left">uuid</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <a class="btn-plan" href="">Selengkapnya</a>
            </div>
        </div>

        <div class="col-md-12 basic-line">
            <h3 class="mid-offer-bottom text-center"></h3>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-left">
                <h3 class="mid-offer-bottom">
                    Linux Hosting yang Stabil
                    <br>
                    dengan Teknolog LVE
                </h3>
                <p class="Montserrat-Light">
                    SuperMicro <b>Intel Xeon 24 Cores</b> server dengan RAM <b>128 GB</b> dan
                    <br>
                    teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi
                    <br>
                    dengan <b>SSD</b> untuk kecepatan <b>MySQL</b>> dan caching. Apache load balancer
                    <br>
                    berbasis LiteSpeed Technologies, <b>CageFS</b> Security, <b>Raid-10</b> Protection
                    <br>
                    dan auto backup untuk keamanan website PHP Anda.
                </p>
                <a class="btn-plan cta" href="">Pilih Hosting Anda</a>
                <p class="Montserrat-Regular mt-5">
                    Bagikan jika Anda menyukai halaman ini.
                </p>
            </div>
            <div class="col-md-6">
                <image src="assets/images/Image support.png" width="500px" height="auto" alt="php-semua-versi">
                <br><br>
                <div class="row">
                    <div class="col-sm-1"><a class="btn btn-primary" style="color: white;" href="#"><i class="fab fa-facebook-f"></i></a></div><div class="col-sm-2"><input type="text" class="form-control col-2" value="80K" disabled></div>
                    <div class="col-sm-1"><a class="btn btn-info" style="color: white;" href="#"><i class="fab fa-twitter"></i></a></div><div class="col-sm-2"><input type="text" class="form-control col-2" value="450" disabled></div>
                    <div class="col-sm-1"><a class="btn btn-danger" style="color: white;" href="#"><i class="fab fa-google-plus-g"></i></a></div><div class="col-sm-2"><input type="text" class="form-control col-2" value="1900" disabled></div>
                </di>
            </div>
        </div>

        <div class="col-md-12 cs">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="mid-offer-bottom text-center"> Perlu <b>BANTUAN</b>? Hubungi Kami : <b>0274-5305055</b> &nbsp; </h2> 
                </div>
                <div class="col-md-3">
                    <a class="btn-plan live-chat" style="border-color: white;" href=""><i class="fa fa-comments"></i> Live Chat</a>
                </div>
            </div>
        </div>
    </div>
</div>