<div class="feature-installer">
    <div class="row">
        <div class="thumbnail zendguard col-md-4">
            <embed src="assets/svg/illustration-banner-PHP-zenguard01.svg" alt="zen guard">
            <div class="caption">
                <p>PHP Zend Guard Loader</p>
            </div>
        </div>
        <div class="thumbnail col-md-4">
            <embed src="assets/svg/icon-composer.svg" alt="composer">
            <div class="caption">
                <p>PHP Composer</p>
            </div>
        </div>
        <div class="thumbnail ioncube col-md-4">
            <embed src="assets/svg/icon-php-hosting-ioncube.svg">
            <div class="caption">
                <p>PHP ioN Cube Loader</p>
            </div>
        </div>
        <div class="col-md-12 discount-offer">
            <h3 class="mid-offer-top text-center">Paket Hosting Singapura yang Tepat</h3>
            <h3 class="mid-offer-bottom text-center">Diskon 40%+ Domain dan SSL gratis unruk anda</h3>
        </div>
        <div class="col-md-12">
            <!-- PRICING PLANS -->
            <section class="pricing-plans">
                <!-- Pricing Tables -->
                <div class="pricing-tables">
                    <!-- Plan Features -->
                    <!-- Bayi -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Bayi</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;19.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">14</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <br>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>938&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>0.5X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>500 MB&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>1&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Pelajar -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Pelajar</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;46.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">23</p><p>.450</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <br>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>4.168&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>1X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>10&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Instant&nbsp;</p><p class="Roboto-Thin">Backup</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Personal -->
                    <div class="pricing-plan featured-plan">
                        <div class="featured-ribbon">BEST SELLER!</div>
                        <h2 class="plan-title">Personal</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;58.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">38</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <br>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>10.017&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>2X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Instant&nbsp;</p><p class="Roboto-Thin">Backup</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Private&nbsp;</p><p class="Roboto-Thin">Name Server</p></div></li>
                            <li><div class="plan-cost"><p>SpamAssassin&nbsp;</p><p class="Roboto-Thin">Mail Protection</p></div></li>
                        </ul>
                        <a class="btn-plan cta" href="">Pilih Sekarang</a>
                    </div>
                    <!-- Bisnis -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Bisnis</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;109.900</del>
                        </div>
                        <div class="plan-cost line">
                            <p class="Montserrat-Hairline diskon-price">Rp&nbsp;</p><p class="plan-price">65</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <br>
                        <ul class="plan-features">
                            <li><div class="plan-cost"><p>3.552&nbsp;</p><p class="Roboto-Thin">Pengguna Terdaftar</p></div></li>
                            <li><div class="plan-cost upperchase"><p>3X Resource Power</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Disk Space</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Bandwidth</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">POP3 Email</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Databases</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited&nbsp;</p><p class="Roboto-Thin">Domain</p></div></li>
                            <li><div class="plan-cost"><p>Magic Auto&nbsp;</p><p class="Roboto-Thin">Backup & Restore</p></div></li>
                            <li><div class="plan-cost"><p>Domain Gratis&nbsp;</p><p class="Roboto-Thin">Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Unlimited SSL&nbsp;</p><p class="Roboto-Thin">Gratis Selamanya</p></div></li>
                            <li><div class="plan-cost"><p>Private&nbsp;</p><p class="Roboto-Thin">Name Server</p></div></li>
                            <li><div class="plan-cost"><p>Prioritas&nbsp;</p><p class="Roboto-Thin">Layanan Support</p></div></li>
                            <li><div class="plan-cost"><p class="Roboto-Thin stared"><i class="fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i><i class="star fa fa-star"></i></p></div></li>
                            <li><div class="plan-cost"><p>SpamExpert&nbsp;</p><p class="Roboto-Thin">Pro Mail Protection</p></div></li>
                        </ul>
                        <a class="btn-plan" href="">Diskon 40%</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 mt-5 basic-line">
            <h3 class="mid-offer-bottom text-center">Powerful dengan Limit PHP yang Lebih Besar</h3>
        </div>
        <div class="col-md-12 mt-5 basic-line">
            <h3 class="mid-offer-bottom text-center">Semua Paket Hosting Sudah Termasuk</h3>
        </div>
        <div class="col-md-12 mt-5 basic-line">
            <h3 class="mid-offer-bottom text-center">Mendukung Penuh Framework Laravel</h3>
        </div>
    </div>
</div>