<div class="feature-installer">
    <div class="row">
        <div class="thumbnail zendguard col-md-4">
            <embed src="assets/svg/illustration-banner-PHP-zenguard01.svg" alt="zen guard">
            <div class="caption">
                <p>PHP Zend Guard Loader</p>
            </div>
        </div>
        <div class="thumbnail col-md-4">
            <embed src="assets/svg/icon-composer.svg" alt="composer">
            <div class="caption">
                <p>PHP Composer</p>
            </div>
        </div>
        <div class="thumbnail ioncube col-md-4">
            <embed src="assets/svg/icon-php-hosting-ioncube.svg">
            <div class="caption">
                <p>PHP ioN Cube Loader</p>
            </div>
        </div>
        <div class="col-md-12 discount-offer">
            <h3 class="mid-offer-top text-center">Paket Hosting Singapura yang Tepat</h3>
            <h3 class="mid-offer-bottom text-center">Diskon 40%+ Domain dan SSL gratis unruk anda</h3>
        </div>
        <div class="col-md-12">
            <!-- PRICING PLANS -->
            <section class="pricing-plans">
                <!-- Pricing Tables -->
                <div class="pricing-tables">
                    <!-- Plan Features -->
                    <!-- "Basic" Plan -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Bayi</h2>
                        <div class="actual-price">
                            <del class="Montserrat-Hairline">Rp&nbsp;19.900</del>
                        </div>
                        <hr>
                        <div class="plan-cost">
                            <br>
                            <p class="Montserrat-Hairline">Rp&nbsp;</p><p class="plan-price">14</p><p>.900</p><p class="Montserrat-Hairline">/ bln<p>
                        </div>
                        <hr>
                        <ul class="plan-features">
                            <li>Unlimited Templates</li>
                            <li>Responsive / Mobile Friendly</li>
                            <li>Unlimited Training</li>
                            <li><span>Custom Branding</span></li>
                            <li><span>Resource Library</span></li>
                            <li><span>Dedicated Support</span></li>
                        </ul>
                        <a class="btn-plan" href="">Select Plan</a>
                    </div>
                    <!-- "Basic" Plan -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Basic</h2>
                        <div class="plan-cost">
                            <p class="plan-price">$39</p>
                            <span>|</span>
                            <p class="plan-type">Monthly</p>
                        </div>
                        <ul class="plan-features">
                            <li>Unlimited Templates</li>
                            <li>Responsive / Mobile Friendly</li>
                            <li>Unlimited Training</li>
                            <li><span>Custom Branding</span></li>
                            <li><span>Resource Library</span></li>
                            <li><span>Dedicated Support</span></li>
                        </ul>
                        <a class="btn-plan" href="">Select Plan</a>
                    </div>
                    <!-- "Premium" Plan -->
                    <div class="pricing-plan featured-plan">
                        <div class="featured-ribbon">Best Value</div>
                        <h2 class="plan-title">Premium</h2>
                        <div class="plan-cost">
                            <p class="plan-price">$59</p>
                            <span>/</span>
                            <p class="plan-type">Monthly</p>
                        </div>
                        <ul class="plan-features">
                            <li>Unlimited Templates</li>
                            <li>Responsive / Mobile Friendly</li>
                            <li>Unlimited Training</li>
                            <li>Custom Branding</li>
                            <li><span>Resource Library</span></li>
                            <li><span>Dedicated Support</span></li>
                        </ul>
                        <a class="btn-plan cta" href="">Select Plan</a>
                    </div>
                    <!-- "Ultmate" Plan -->
                    <div class="pricing-plan">
                        <h2 class="plan-title">Ultimate</h2>
                        <div class="plan-cost">
                            <p class="plan-price">$89</p>
                            <span>/</span>
                            <p class="plan-type">Monthly</p>
                        </div>
                        <ul class="plan-features">
                            <li>Unlimited Templates</li>
                            <li>Responsive / Mobile Friendly</li>
                            <li>Unlimited Training </li>
                            <li>Custom Branding</li>
                            <li>Resource Library</li>
                            <li>Dedicated Support</li>
                        </ul>
                        <a class="btn-plan" href="">Select Plan</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>