<div class="row">
    <div class="col-md-9 footer-copy">
        Copyright &copy; 2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta
        <br>
        Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
    </div>
    <div class="col-md-3 float-end">
        <a href="https://www.niagahoster.co.id/syarat-dan-ketentuan" class="privacy_link">Syarat dan Ketentuan</a> | <a href="https://www.niagahoster.co.id/kebijakan-privasi" class="privacy_link">Kebijakan Privasi</a>
    </div>
</div>