<div class="row justify-content-center">
    <div class="col-md-3 modul">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>HUBUNGI KAMI</b></li>
                <li class="list-feature text-left">0274-5305055</li>
                <li class="list-feature text-left">Senin - Minngu</li>
                <li class="list-feature text-left">24 Jam Nonstop</li>
                <li class="list-feature text-left">Jl. Selokan Mataram Monjali</li>
                <li class="list-feature text-left">Karangjati MT I/304</li>
                <li class="list-feature text-left">Sinduadi, Mlati, Sleman</li>
                <li class="list-feature text-left">Yogyakarta 55284</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>LAYANAN</b></li>
                <li class="list-feature text-left">Domain</li>
                <li class="list-feature text-left">share Hosting</li>
                <li class="list-feature text-left">Cloud VPS Hosting</li>
                <li class="list-feature text-left">Managed VPS Hosting</li>
                <li class="list-feature text-left">Web Builder</li>
                <li class="list-feature text-left">Keamanan SSL/HTTTPS</li>
                <li class="list-feature text-left">Jasa Pembuatan Website</li>
                <li class="list-feature text-left">Program Affiliasi</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>SERVICE HOSTING</b></li>
                <li class="list-feature text-left">Hosting Murah</li>
                <li class="list-feature text-left">Hosting Indonesia</li>
                <li class="list-feature text-left">Hosting Singapura SG</li>
                <li class="list-feature text-left">Hosting PHP</li>
                <li class="list-feature text-left">Hosting Wordpress</li>
                <li class="list-feature text-left">Hosting Laravel</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>TUTORIAL</b></li>
                <li class="list-feature text-left">Knowledgebase</li>
                <li class="list-feature text-left">Blog</li>
                <li class="list-feature text-left">Cara Pembayaran</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>TENTANG KAMI</b></li>
                <li class="list-feature text-left">Tim Niaga Hoster</li>
                <li class="list-feature text-left">Karir</li>
                <li class="list-feature text-left">Events</li>
                <li class="list-feature text-left">Events</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <ul class="fa-ul">
                <li class="list-feature text-left"><b>KENAPA PILIH NIAGA HOSTERA</b></li>
                <li class="list-feature text-left">Support Terbaik</li>
                <li class="list-feature text-left">Garansi Harga Termurah</li>
                <li class="list-feature text-left">Domain Gratis Selamanya</li>
                <li class="list-feature text-left">Datacenter Hosting Terbaik</li>
                <li class="list-feature text-left">Review Pelanggan</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <b>NEWSLETTER</b>
        <br><br>
        <span class="newsletter"><span class="email"></span> &nbsp;<a class="btn-plan cta" href="">Berlangganan</a></span>
        <br><br>
        <p class="Montserrat-Light">Dapatkan promo dan konten menarik</p>
        <p class="Montserrat-Light">dari penyedia hosting terbaik Anda.</p>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-sm-4 socmed"><span><i class="fab fa-facebook"></i></span></div>
            <div class="col-sm-4 socmed"><span><i class="fab fa-twitter"></i></span></div>
            <div class="col-sm-4 socmed"><span><i class="fab fa-google"></i></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>PEMBAYARAN</h3>
            <image src="assets/images/payment.png" width="850px" height="90px" alt="php-semua-versi"></image>
        </div>
        <div class="col-md-7">
            <p class="Montserrat-Light">
                Aktivasi instant dengan e-Payment Hosting dan domain langsung aktif!
            </p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 footer-copy">
        Copyright &copy; 2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta
        <br>
        Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
    </div>
    <div class="col-md-4 float-end">
        <a href="https://www.niagahoster.co.id/syarat-dan-ketentuan" class="privacy_link">Syarat dan Ketentuan</a> | <a href="https://www.niagahoster.co.id/kebijakan-privasi" class="privacy_link">Kebijakan Privasi</a>
    </div>
</div>