<div class="main-menu">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <img src="assets/images/niagahoster.png" alt="niagahoster">
            </a>
        </div>
        <div class="col-md-9 main-menu-bar right">
            <span class="btn-menu">{{ mainmenu | join('</span><span class="btn-menu">') | raw}}</span>
        </div>
    </div>
</div>