<div class="top-menu">
    <div class="row">
        <div class="col-md-6 offer-top">
            <img src="assets/images/price-top.png" alt="price-offer">
            Gratis Ebook 9 cara cerdas emnggunakan domain <span class="close-btn-simple" onclick="close_offer()">[x]</span>
        </div>
        <div class="col-md-6 menu-right right">
            <span class="btn-menu"><i class="fa fa-phone"></i> 0274-5305505</span>
            <span class="btn-menu"><i class="fa fa-comments"></i> Live Chat</span>
            <span class="btn-menu"><i class="fa fa-user-circle" style="font-size: 18px;"></i> Member Area</span>
        </div>
    </div>
</div>